<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Dades"
        connectionString="Data Source=sqlserver.S2AM.sdslab.cat;Initial Catalog=SecureCoreG2;Persist Security Info=True;User ID=G2;Password=12345G2aA2425."
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>